<a href="https://colab.research.google.com/github/thunde7226/FirstRemoteExample/blob/master/TuesdayJuly5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np

In [6]:
import pandas as pd

In [8]:
dates = pd.date_range('20190102', periods=6)
dates

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05',
               '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [7]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2019-01-02  2.327572  0.592078  1.819520  0.108062
2019-01-03  0.002246  0.082551 -0.756332 -0.619187
2019-01-04  0.048120 -0.659026  2.028397  0.051733
2019-01-05  0.181956 -0.302900  1.286095 -1.068689
2019-01-06  0.832818  1.627202  1.122611 -0.570585
2019-01-07  0.621785  0.053945 -0.415200  0.885033

In [10]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20190103'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

df2

     A          B    C  D      E    F
0  1.0 2019-01-03  1.0  3   test  foo
1  1.0 2019-01-03  1.0  3  train  foo
2  1.0 2019-01-03  1.0  3   test  foo
3  1.0 2019-01-03  1.0  3  train  foo

In [11]:
df.head()
df.tail(5)

                   A         B         C         D
2019-01-03  0.002246  0.082551 -0.756332 -0.619187
2019-01-04  0.048120 -0.659026  2.028397  0.051733
2019-01-05  0.181956 -0.302900  1.286095 -1.068689
2019-01-06  0.832818  1.627202  1.122611 -0.570585
2019-01-07  0.621785  0.053945 -0.415200  0.885033

In [12]:
df.index

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05',
               '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.669083  0.232308  0.847515 -0.202272
std    0.877176  0.801290  1.163966  0.693283
min    0.002246 -0.659026 -0.756332 -1.068689
25%    0.081579 -0.213689 -0.030747 -0.607037
50%    0.401870  0.068248  1.204353 -0.259426
75%    0.780060  0.464696  1.686164  0.093980
max    2.327572  1.627202  2.028397  0.885033

In [14]:
df[0:3]

                   A         B         C         D
2019-01-02  2.327572  0.592078  1.819520  0.108062
2019-01-03  0.002246  0.082551 -0.756332 -0.619187
2019-01-04  0.048120 -0.659026  2.028397  0.051733

In [15]:
df['20190102': '20190105']

                   A         B         C         D
2019-01-02  2.327572  0.592078  1.819520  0.108062
2019-01-03  0.002246  0.082551 -0.756332 -0.619187
2019-01-04  0.048120 -0.659026  2.028397  0.051733
2019-01-05  0.181956 -0.302900  1.286095 -1.068689

In [16]:
df[df.A > 0]

                   A         B         C         D
2019-01-02  2.327572  0.592078  1.819520  0.108062
2019-01-03  0.002246  0.082551 -0.756332 -0.619187
2019-01-04  0.048120 -0.659026  2.028397  0.051733
2019-01-05  0.181956 -0.302900  1.286095 -1.068689
2019-01-06  0.832818  1.627202  1.122611 -0.570585
2019-01-07  0.621785  0.053945 -0.415200  0.885033

In [17]:
df[df > 0]

                   A         B         C         D
2019-01-02  2.327572  0.592078  1.819520  0.108062
2019-01-03  0.002246  0.082551       NaN       NaN
2019-01-04  0.048120       NaN  2.028397  0.051733
2019-01-05  0.181956       NaN  1.286095       NaN
2019-01-06  0.832818  1.627202  1.122611       NaN
2019-01-07  0.621785  0.053945       NaN  0.885033

In [18]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2019-01-02  2.327572  0.592078  1.819520  0.108062    one
2019-01-03  0.002246  0.082551 -0.756332 -0.619187    one
2019-01-04  0.048120 -0.659026  2.028397  0.051733    two
2019-01-05  0.181956 -0.302900  1.286095 -1.068689  three
2019-01-06  0.832818  1.627202  1.122611 -0.570585   four
2019-01-07  0.621785  0.053945 -0.415200  0.885033  three

In [19]:
df

                   A         B         C         D
2019-01-02  2.327572  0.592078  1.819520  0.108062
2019-01-03  0.002246  0.082551 -0.756332 -0.619187
2019-01-04  0.048120 -0.659026  2.028397  0.051733
2019-01-05  0.181956 -0.302900  1.286095 -1.068689
2019-01-06  0.832818  1.627202  1.122611 -0.570585
2019-01-07  0.621785  0.053945 -0.415200  0.885033

In [21]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C         D
2019-01-02 -2.327572 -0.592078 -1.819520 -0.108062
2019-01-03 -0.002246 -0.082551 -0.756332 -0.619187
2019-01-04 -0.048120 -0.659026 -2.028397 -0.051733
2019-01-05 -0.181956 -0.302900 -1.286095 -1.068689
2019-01-06 -0.832818 -1.627202 -1.122611 -0.570585
2019-01-07 -0.621785 -0.053945 -0.415200 -0.885033

In [22]:
df1 = df.reindex(index = dates[0:4], columns=list(df.columns) + ['E'])

df1.loc[dates[0]: dates[1], 'E'] = 1

df1

                   A         B         C         D    E
2019-01-02  2.327572  0.592078  1.819520  0.108062  1.0
2019-01-03  0.002246  0.082551 -0.756332 -0.619187  1.0
2019-01-04  0.048120 -0.659026  2.028397  0.051733  NaN
2019-01-05  0.181956 -0.302900  1.286095 -1.068689  NaN